<app-menu></app-menu><br><br><br><br><br>

<section id="four" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <h1>Malaysia</h1>
            <p>This section will show the covid-19 detail in Malaysia.</p>
        </header>
    </div>
</section>

<section id="four" class="wrapper style2">
    <div class="inner">
        <div class="box">
             <div class="image fit">
                    <img src="/assets/images/my.jpg" alt="" />
                </div>
        <div class="content">
            <header class="align-center">
                <h1 style="font-weight: bold;">Result</h1>
                <p>Last Updated: {{lastUpdated}}</p>
                <table>
                    <tr>
                        <th style="font-weight: bold;">Total Deaths</th>
                        <th style="font-weight: bold;">Daily Deaths</th>
                        <th style="font-weight: bold;">Total Confirmed</th>
                        <th style="font-weight: bold;">Daily Confirmed</th>
                        <th style="font-weight: bold;">Active Cases</th>
                        <th style="font-weight: bold;">Total Recovered</th>
                    </tr>
                    <tr>
                        <th>{{TotalDeaths}}</th>
                        <th>{{DailyDeaths}}</th>
                        <th>{{TotalConfirmed}}</th>
                        <th>{{DailyConfirmed}}</th>
                        <th>{{ActiveCases}}</th>
                        <th>{{TotalRecovered}}</th>
                    </tr>
                </table>
            </header>
        </div>  
        </div>     
    </div>
</section>

<section id="one" class="wrapper style2">
    <div class="inner">
        <div class="box">
                <div class="content">
                    <header class="align-center">
                        <h2 style="font-weight: bold;">Covid-19 Data</h2>
                       <p>This page will show Malaysia covid-19 data.</p>
                    </header>
                    <hr />
                    <div style="margin:0px auto;">
                            <div class="chartjs-container" style="height: 500px;" >        
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                            [legend]="barChartLegend" [chartType]="barChartType"></canvas>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
        </div>  
    </div>
</section>


<script src="mycopy.js"></script>
