<section id="one" class="wrapper style2">
    <div class="inner">
        <div>
            <div class="box">
                <div class="content">
                    <header class="align-center">
                        <h2>Negetive</h2>
                        <p>This page will show Malaysia negetive tested data.</p>
                    </header>
                    <hr />
                    <div style="margin:0px auto;">

                            <div style="height: 500px;" >        
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                            [legend]="barChartLegend" [chartType]="barChartType"></canvas>
                        </div>
                        
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>  
    </div>
